<!-- <nav class="navbar navbar-toggleable-md navbar-default bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#headerNav" aria-controls="headerNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href=""><i class="fa fa-globe"></i></a>
  <div class="collapse navbar-collapse" id="headerNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" router-link="/projects" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" router-link="/projects" routerLinkActive="active">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" router-link="/resume" routerLinkActive="active">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" router-link="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav> -->