h1, h2, a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
				Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2 {
	text-align: center;
	vertical-align: middle;
}

h1 {
	font-size: 250%;
}

.jumbotron{
	background-color: white;
	margin-top: 50px;
}